<div class="item">
  <i class="large github middle aligned icon"></i>
  <div class="content">
    <a class="header">{{repo.name}}</a>
    <div class="description">Updated {{repo.lastUpdated}}</div>
  </div>
</div>
