<h2 class="ui center aligned header">KUB-Dispatcher-Portal</h2>

<!-- Sidebar menu-->
<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="ui left demo vertical sidebar labeled icon menu visible">
        <a class="item">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item">
          <i class="block layout icon"></i>
          Jobs
        </a>
        <a class="item">
          <i class="industry icon"></i>
          Workers
        </a>
        <a class="item">
          <i class="calendar icon"></i>
          Calendar
        </a>
      </div>
  </div>

<!--<div class="container">
  <div class="row">-->
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h3>Job Table</h3>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h3>Contractors Table</h3>
    </div>
  </div>
</div>

    <!--<h2> Sample Applcation </h2>

    <div class="ui relaxed divided list">

      {{#each model as |item|}}
            {{github-repo repo=item}}
      {{/each}}


    </div>-->
