<!-- Workers table-->
<div class="col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-sm-6 col-md-6 col-lg-6">
                    <h3 class="panel-title">Workers</h3>
                </div>

            </div>
        </div>
        <div class="panel-body table-responsive">
          {{models-table
    				data=workerService.workers
    				columns=columns
    				useNumericPagination=true
    				showColumnsDropdown=false
    				filteringIgnoreCase=true
    				showGlobalFilter=false
    				displayDataChangedAction="selectWorker"
    				sendDisplayDataChangedAction=true
    				customClasses=tableClasses
    				useFilteringByColumns=false
    			}}
        </div>
    </div>
</div>
